
.nav-link{
    color: rgb(141, 112, 112);
    border: #eee;
}
.align-center{
    align-content: center;
}
.img-responsive{
    width: 100%;
}
.img-logo{
    width: 30%;
}
body{
    background-color: rgb(63, 58, 58);
    color: #eee;
}